/* theme-colala.css */
@theme {
  --color-colala-red: #e53935;
  --color-colala-light-gray: #f0f0f0;
  --color-colala-dark-gray: #333333;
  --color-login-overlay: #c82519;
  --color-redd: #e53e3e;
  --color-red-shade: #921313;
  --color-colala-btn: #EBEBEB;
  --color-cola-pink: #008000;
  --color-cola-bright: #ef9b9b;
  --color-cola-gray: #7d7d7d;
  --color-cola-ban: #921313;
  --color-cola-redish: #f22c2c;
  
  
}
